.text-updater-node {
	height: 50px;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 5px;
	background: white;
}

.text-updater-node label {
	display: block;
	color: #777;
	font-size: 12px;
}

.header {
	display: flex;
	justify-content: flex-end;
	padding: 10px 50px 10px 10px;
	background-color: #ebe9e9;
}

.panel {
	background-color: white;
	width: 100%;
	padding: 10px;

	height: 100%;
	border-left: 1px solid #e4e4e4;
}

.nodes-wrapper {
	gap: 8px;
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
}

.ant-layout {
	width: 100vw;
	height: 100vh;
}

.ant-btn-default {
	color: #5b47a5;
	border-color: #5b47a5;
}

.ant-row {
	height: 100%;
}

.react-flow__resize-control.line {
	border-color: white !important;
}

.react-flow {
	background: white;
}

.ant-card-head-title {
	display: flex !important;
	justify-content: center;
}

.settings-panel .ant-card-body div {
	font-size: 0.8rem;
	color: #8b8989;
	margin-bottom: 5px;
}

[draggable='true'] {
	cursor: move;
}

.custom-node {
	width: 120px;
	color: #5b47a5;
	height: 80px;
	display: flex;
	overflow: scroll;
	border: 1px solid #5b47a5;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}

.custom-node > div {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.message-node {
	height: fit-content;
	width: 250px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background: white;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.message-node .node-header {
	display: flex;
	padding: 3px 15px;
	border-radius: 10px 10px 0 0;
	justify-content: space-between;
	background: #b2efe3;
	font-weight: bolder;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selected .message-node {
	border: 2px solid #5b47a5;
}

.message-node .content {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 15px;
	font-size: 11px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
